<a href="https://colab.research.google.com/github/zuliasafirarahma25-jpg/kka-semester-1-/blob/main/1_fungsi_print_zulia_safira_xi_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ( "Halo dunia" )

Hello dunia

In [ ]:
print ("Selamat datang di python")

Selamat datang di python

In [ ]:
print ("belajar python itu menyenangkan ")

belajar python itu menyenangkan

In [ ]:
print("Zulia safira rahma ")

Zulia safira rahma

variabel

In [ ]:
nama = "safira"
print(nama)

safira

In [ ]:
BB = 40
print(BB)

40

In [ ]:
umur = 16
print(umur)

16

In [ ]:
harga_telur = 27000
print("harga telur per 1 kgadalah",harga_telur)

harga telur per 1 kgadalah 27000

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah"+str(harga_telur))

harga telur per 1 kg adalah26000

In [ ]:
nama_pembeli = "fazila"
print("nama pembeli telur adalah" + str(nama_pembeli))

nama pembeli telur adalahfazila

latihan soal
1. Tampilkan teks bebas: hari ini saya bahagia belajar bahasa python
2. tampilkan nilai variabel:mata _pelajaran_favorit=kode dan kecerdasan buatan
3. tampilkan nilai variabel:nilai_kka=100
4. tampilkan teks bebas dan nilai variabel dengan tiga mode(f string",+",","):"nilai KKA saya adalah ({nilai_kka}loh!"

escape character

In [ ]:
print("nama: Zulia safira rahma ")
print("kelas: XI-1")
print("nomer absen:36")

nama: Zulia safira rahma
kelas: XI-1
nomer absen:36

In [ ]:
print('bu sinta berkata, "semua harus menyimak pelajaran"')

bu sinta berkata, "semua harus menyimak pelajaran"

In [ ]:
print("Nama\t\t= Zulia safira rahma\nKelas\t\t= XI-1\nNomer absen= 36")

Nama		= Zulia safira rahma
Kelas		= XI-1
Nomer absen= 36

In [ ]:
print("""Nama= zulia safira rahma
kelas= XI-1
No absen= 36""")

Nama= zulia safira rahma
kelas= XI-1
No absen= 36

In [ ]:
print('ja\'far shodiq')

ja'far shodiq

In [ ]:
print("ja'far hodiq ")

ja'far hodiq

In [ ]:
print('bu sinta berkata \"semua harus menyimak pelajaran"')

bu sinta berkata "semua harus menyimak pelajaran"

In [ ]:
print("lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

lokasi file video karnaval ada di D:\Karnaval 2025\mp4

1. tampilkan teks bebas

In [ ]:
print("Hari ini saya senang belajar python")

Hari ini saya senang belajar python

In [ ]:
nilai_kka= 98
print("nilai kka saya adalah",nilai_kka,"loh!")

nilai kka saya adalah 98 loh!

In [ ]:
nilai_kka=100
print(nilai_kka)

100

In [ ]:
nilai_kka=98
print(f"Nilai kka saya adalah{nilai_kka}loh!")

Nilai kka saya adalah98loh!

In [ ]:
print("mata_pelajaran_favorit= kimia ")

mata_pelajaran_favorit= kimia

In [ ]:
nilai_kka= 98
print("nilai kka saya adalah " + str(nilai_kka) + "loh!")

nilai kka saya adalah 98loh!

parameter fungsi print

In [ ]:
tahun =2009
bulan ="september"
tanggal =26

print(tanggal, end=" ")
print(bulan, end=" ")
print(tahun)

26 september 2009

In [ ]:
tahun =2009
bulan ="september"
tanggal =26

print(tanggal, bulan, tahun, sep="/")

26/september/2009

latihan
tanggal-bulan-tahun

In [ ]:
tanggal = 26
bulan ="september"
tahun =2009

print(tanggal, bulan, tahun, sep="/")

26/september/2009

In [ ]:
nama_depan ="zulia"
nama_belakang ="safira"

print(nama_depan,nama_belakang)

zulia safira

In [ ]:
nama_depan = "Zulia"
nama_belakang = "safira"

print(nama_depan, end=" ")
print(nama_belakang)

Zulia safira

In [ ]:
print ( "bu sinta berkata, \"berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di fold local disk:\\jadwal pelajaran \\kelas XI sem ester  1\"")
print ( "\njadwal pelajaran mingguan")
print ( "=======================================================" )
print ( " jam\tsenin\t\tselasa\t\tinformatika" )
print ( " jam 1\tmatematika\tbahasa\t\tinformatika" )
print ( " jam 2\tbahasa ing.\tsejarah\t\tma'rifatullah" )
print ( " jam 3\tinformatika\tolahraga\tbiologi" )

bu sinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di fold local disk:\jadwal pelajaran \kelas XI sem ester  1"

jadwal pelajaran mingguan
=======================================================
 jam	senin		selasa		informatika
 jam 1	matematika	bahasa		informatika
 jam 2	bahasa ing.	sejarah		ma'rifatullah
 jam 3	informatika	olahraga	biologi

In [ ]:
nama_siswa_1 =  "favian"
nama_siswa_2 =  "naufal"
nama_siswa_3 =  "humaira"


print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_1, sep= "~" )

favian~naufal~humaira~favian

In [ ]:
nama_1 =  "naufal"
nama_2 =  "favian"
nama_3 =  "humaira"
print (nama_1, end= "~")
print (nama_2)
print (nama_3, end="~")
print (nama_2)

naufal~favian
humaira~favian